<div class="container" id="skills">
  <div class="row">
      <div>
          <h3>
              Hard & Soft Skills
          </h3>
          <div class="container-fluid d-flex my-3">
            <span class="col-8 col-sm-6 col-md-3" *ngFor="let skills of skillsList">
              <div class="progress-circle progress-{{skills.hard}}"><span>{{skills.soft}}</span>
              </div>                  
            </span>
          </div>

            <div>
              <button type="button" class="btn btn-outline-info" routerLink="/nuevaedu">
                Nueva Skill
            </button>
            </div>
            
      </div>