<header class="container">
    <div id="header-superior">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank" rel="noopener noreferrer">
        <img src="../assets/img/ap-icon.png" alt="ap icono" id="ap-icon">
    </a>
        <div id="red-social">
            <a href="https://www.linkedin.com/in/candelaria-vera-barros/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/img/linkedin-icon.png" alt="Logo Linkedin" id="linkedin-icon">
            </a>
            <a href="https://github.com/candevb" target="_blank" rel="noopener noreferrer">
                <img src="../assets/img/github.svg" alt="logo github" id="github-icon">
            </a>      
    </div>
  </div>
    <div id="header-inferior">
        <img src="../assets/img/banner.jpg" id="banner" class="img-fluid"  alt="banner">
    </div>
  </header>