<div class="container" id="experiencia">
    <div class="row">
        <div>
            <h3>
                Experiencia
            </h3>
            <div class="col-lg-2" *ngFor="let experiencia of experienciaList">
                <span>
                  <h6>{{experiencia.empresa}}</h6>
                  <ul>
                    <li>{{"Puesto: " + experiencia.posicion}}</li>
                    <li>{{"Descripcion: " + experiencia.descripcion}}</li>
                    <li>{{"Desde: " + experiencia.inicio}}</li>
                    <li>{{"Hasta: " + experiencia.fin}}</li>
                  </ul>
                </span>
            <div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info" routerLink="/nuevaedu">
                Nueva Experiencia
            </button>
        </div>
