<div class="container" id="experiencia">
    <div class="row">
        <div>
            <h3>
                Experiencia
            </h3>
            <div class="col-lg-2" *ngFor="let experiencia of experienciaList">
                <span>
                  <h6>{{experiencia.empresa}}</h6>
                  <ul>
                    <li>{{"Puesto: " + experiencia.posicion}}</li>
                    <li>{{"Descripcion: " + experiencia.descripcion}}</li>
                    <li>{{"Desde: " + experiencia.inicio}}</li>
                    <li>{{"Hasta: " + experiencia.fin}}</li>
                    <button class="btn btn-outline-danger btn-sm" (click)="delete(experiencia.id)">
                        <i class="bi bi-pencil-square"></i>BORRAR</button>
                    <button class="btn btn-outline-danger btn-sm" routerLink="/edit-experiencia/{{experiencia.id}}">
                            <i class="bi bi-pencil-square"></i>EDITAR</button>
                  </ul>
                </span>
            <div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info" routerLink="/new-experiencia">
                Nueva Experiencia
            </button>
        </div>
